</!DOCTYPE html>
<html>
<head>
	<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
<link href="/static/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/fonts.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=94a1e68abfeb339d0f80d238d1635f17"></script>
</head>

<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo"> <h1><a href="../">WELCOME TO BF</a></h1> </div>
		<div id="menu">
			<ul>
				<li><a href="." accesskey="1" title="">시설 안내</a></li>
				<li><a href="../area_recommend" accesskey="2" title="">입지 추천</a></li>
			</ul>
		</div>
	</div>
</div>

<!-- 서울 시설 위치 선택[아직 어떤 방식으로 보내야할지 결정못함]-->
<div id="CheckSeoul" style="width:1200px;height:500px;">
    <h2>Seoul</h2>
    <span class="icon icon-map-marker"></span>
    <label>원하는 시설의 위치를 선택하세요</label></br>
    <input type="checkbox" name="big-category" value="편의시설">편의시설</br>
    <input type="checkbox" name="big-category" value="병원">병원</br>
    <input type="checkbox" name="big-category" value="공공시설">공공시설</br>
    <input type="checkbox" name="big-category" value="교통">교통
</div>  

</body>
</html>